.header-top .main-logo {
    width: 200px;
    margin-left: 16px;
    background: url('../images/BIMportal1.png') no-repeat center;
}

p.breadcrumbs {
    float: right;
    margin: 0 10px 0 0;
}

.back_container .main .right .head .project-title {
    display: none;
}

#pm-timeline .grip {
    width: 41%;
}

#pm-timeline .grip-arrow {
    width: 8%;
}
