.treeItem {
	list-style-type: none;
	margin-bottom: 2px;
}

.treeItemIcon {
    display: inline-block;
    height: 24px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 24px;
	*display: inline;
	*zoom: 1;
}

.treeFolder {
    background: url("../images/folder_open.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
}

.treeFolderCollapsed {
    background: url("../images/folder_close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.treeFile {
	background: url("../images/file-item.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}