#model-viewer, .mCSB_container, .content_main{
	width:100% !important;
	height:100% !important;
}
.apps_content_back{width:89% !important;}

#viewer-show{
	background:transparent url(/images/eye_show.png) no-repeat left top;
	width:32px;
	height:32px;
	padding:10px;
}
#viewer-hide{
	background:transparent url(/images/eye_hide.png) no-repeat left top;
	width:32px;
	height:32px;
	padding:10px;
}

#viewer-show, #viewer-hide{
	text-indent:-99em;
	overflow:hidden;
	display:block;
	float:left;
}
