#Options +FollowSymLinks
RewriteEngine On
# Local path
RewriteBase /
#server apth 
#RewriteBase /dev123/bimportal/


RewriteRule ^$ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico)

RewriteRule ^(.*)$ index.php?/$1 [L] 