version: '2'
services:
  mysql:
    build: mysql/.
    image: jenca/thebimportal_mysql      ## Please build name of image as named jenca/<<app-name>_<service_name>>
    environment:
      - MYSQL_ROOT_PASSWORD=lkjhlkjh
      - MYSQL_DATABASE=empty_portal

  main:
    build: .
    image: jenca/thebimportal_webapp     ## Please build name of image as named jenca/<<app-name>_<service_name>>
    ports:                         ## This section must be included
<<<<<<< HEAD
      - 3000:80                      # Remove external port for production
=======
      - 80                      #
>>>>>>> f815bdcda248614167d5794b5c001fc1f7bcfd17
    environment:                   ## This section must be included. Setting these environment variables help puffin control your apps runtime environment.
      - VIRTUAL_HOST                #
      - VIRTUAL_PORT=80           #
    depends_on:
      - mysql

    networks:                      ## This section must be included. ( tbc - explanation link to concept pages in docs )
      - front                       #
      - back                        #
      - default                     #

networks:                          ## This section must be included. ( tbc - concept explained in docs )
    front:
        external:
            name: "puffin_front"
    back:
        external:
            name: "puffin_back"
